<div>
    <ul class="list">
        {{#each products}}
            <li class='estaticItem'>{{title}}, {{description}}, {{price}}, {{code}}, {{stock}}</li>
        {{/each}}
    </ul>
</div>
<script src="/js/index.js"></script>